{% extends 'base.html' %}
{% block content %}

{% load events_tags %}
{% load i18n %}
<article class="media content-section">
    <div class="media-body" align="center">
        <div class="article-metadata">
            <table width=100%>
                <tr>
                    <th width=50%>
                        <small class="text-muted">
                            {% if event.type %}
                                {{ event.type }}
                            {% else %}
                                {% trans 'General' %}
                            {% endif %}
                        </small>
                    </th>
                    <th width=50%>
                        <div align="right">
                            <span class="text-muted">{{ event.date|date:'D | ' }}</span>{{ event.date|date:'d.m.Y' }} | {{ event.time }}
                        </div>
                    </th>
                </tr>
            </table>
        </div>
        <a class="article-title" href="{% url 'calendar:event-detail' event.id %}">
            <h4>{{ event.title }}</h4>
        </a>
        {{ event.short_description }}
        <p style="text-align: justify;">{{ event.description }}</p>
    </div>
</article>

{% endblock content %}